<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank form!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/indexstyle.css}">
    <link rel="icon" type="image/png" th:href="@{/img/upb.png}">
</head>
<body>
    <div class="container">
        <nav class="navbar" id="navigatie">


            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/upb.png}" alt="Bootstrap" width="30" height="24" style="border-radius: 50%;">
                </a>
                <div class="butoane">
                    <a th:href="@{/bank}">Bank</a>
                    <a th:href="@{/branches}">Branches</a>
                    <a th:href="@{/employees}">Employees</a>
                </div>
            </div>

        </nav>


    <form action="" style="margin:50px ;" th:action="@{/bank}" th:object="${bank}" method="POST">
        <div class="form-group">
            <label>nameBank:</label>
            <input type="text" class="form-control" name="nameBank" th:field="*{nameBank}" placeholder="Numele bancii:">
        </div>

        <div class="form-group">
            <label>swiftCodeBank:</label>
            <input type="text" class="form-control" name="swiftCodeBank" th:field="*{swiftCodeBank}" placeholder="Codul Swift:">
        </div>

        <div class="form-group">
            <label>cuiBank:</label>
            <input type="text" class="form-control" name="cuiBank" th:field="*{cuiBank}" placeholder="Codul CUI:">
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 15px;">Submit</button>
    </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
   
</body>
</html>