<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelul Employees!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/indexstyle.css}">
    <link rel="icon" type="image/png" th:href="@{/img/upb.png}">
</head>
<body>

<nav class="navbar" id="navigatie">


    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/img/upb.png}" alt="Bootstrap" width="30" height="24" style="border-radius: 50%;">
        </a>
        <div class="butoane">
            <a th:href="@{/bank}">Bank</a>
            <a th:href="@{/branches}">Branches</a>
            <a th:href="@{/employees}">Employees</a>
        </div>
    </div>

</nav>

     <div class="container mt-5">
      <h2>Employees Table</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">idEmployee</th>
      <th scope="col">fnameEmployee</th>
      <th scope="col">lnameEmployee</th>
      <th scope="col">cnpEmployee</th>
      <th scope="col">position Employee</th>
      <th scope="col">salaryEmployee</th>
      <th scope="col">employment Date</th>
      <th scope="col">bankEmployee</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="employees:${employees}">
      <th scope="row" th:text="${employees.idEmployee}"></th>
      <td th:text="${employees.fnameEmployee}"></td>
      <td th:text="${employees.lnameEmployee}"></td>
      <td th:text="${employees.cnpEmployee}"></td>
      <td th:text="${employees.positionEmployee}"></td>
      <td th:text="${employees.salaryEmployee}"></td>
      <td th:text="${employees.employmentDate}"></td>
      <td th:text="${employees.bankEmployee.idBank}"></td>
      <td>
        <a class="btn btn-sm btn-warning" th:href="@{/employees/edit/{idEmployee}(idEmployee=${employees.idEmployee})}">Edit</a>
        <a class="btn btn-sm btn-danger" th:href="@{/employees/{idEmployee}(idEmployee=${employees.idEmployee})}">Delete</a>
      </td>
    </tr>
    
    
  </tbody>
</table>

<div class="container" style="text-align: center;">
      <a th:href="@{/employees/new}" class="btn btn-primary">Add New Employee</a>
    </div>
</div>



   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
   
</body>
</html>